<div class="fortune-landing-container">
    <h1>Fortune Cookie</h1>
    <button (click)="crackCookie()">Crack Open the Cookie</button>
    <app-fortune-cookie class="app-fortune-cookie-container" [isCookieCracked]="isCookieCracked"></app-fortune-cookie>

    <div *ngIf="fortune" class="fortune">
      <p>Your Fortune: </p>
      <p><strong>{{ fortune }}</strong></p>
      <div class="fortune-btn-container">
        <button (click)="saveFortune()">Save Fortune</button>
        <button (click)="reset()">Reset</button>
      </div>
    </div>

    <div *ngIf="savedFortunes">
      <li *ngFor="let fortune of savedFortunes">{{ fortune }}</li>
    </div>
  </div>
  