<div class="fortune-cookie-container">
    <img *ngIf="!isCookieCracked" class="fortune-cookie-closed-img" src="https://www.gainesville.com/gcdn/authoring/2008/02/06/NTGS/ghows-LK-ecf905d2-7ea6-44db-8f5c-796d108cca44-6d519bda.jpeg?width=1200&disable=upscale&format=pjpg&auto=webp" alt="Fortune Cookie">
    <img *ngIf="isCookieCracked" class="fortune-cookie-img" src="https://www.shutterstock.com/image-photo/fortune-cookie-isolated-on-white-600nw-2269512483.jpg" alt="Fortune Cookie Cracked">
</div>
  