.fortune-cookie-container {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 400px;
    align-items: center;
}

.fortune-cookie-closed-img {
    width: 300px;
    height: 200px;
}
